.btn {
    composes: reset from "../commonBtns.module.css";
    composes: iconBtn from "../commonBtns.module.css";

    font-size: 16px;
    padding: 4px;
    border-radius: 50%;
    background-color: var(--color-background);
    color: var(--color-lines);
}