.pole {
    width: 7px;
    height: 7px;

    position: absolute;
    left: -3px;
    top: -3px;
    border-radius: 50%;
    background-color: rgb(255 255 255 / 50%);
    border: 1px solid var(--color-Bone-basic);
    box-sizing: border-box;
}