.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;

    background-color: #ccc;

    outline: solid #000;
}

.scene {
    width: 100%;
    height: 100%;
    background: #00968896;
}

.controller {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;

    background-color: #2196f3;
}

.toggle {}

.panel {}