@import-normalize;

:root {

    --color-pale: #ffffff;
    --color-dark: #000000;

    --color-background: var(--color-pale);
    --color-lines: var(--color-dark);


}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;


    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 20px;
}